
<html>
  <body>
    <h1 align="center">مبيعات آجلة</h1>

    <div class="testbox">
      <form action="/">
        <div class="inline-div">
          <p>فاتورة رقم</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>طريقة الدفع</p>
          <select cols="15" rows="15" class="inline-txtarea">
            <option value=""></option>
            <option value="">Enquiry</option>
            <option value="2">Complaint</option>
          </select>
        </div>
        <div class="inline-div">
          <p>السعر</p>
          <select cols="15" rows="15" class="inline-txtarea">
            <option value=""></option>
            <option value="">سعر الجملة</option>
            <option value="2">سعر التجزئة</option>
            <option value="3">سعر خاص</option>
          </select>
        </div>

        <div class="inline-div">
          <p>التاريخ</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="datetime-local"
            placeholder="Access duration"
            name="date"
            value="2020-11-16T20:00"
          />
        </div>

        <div class="inline-div">
          <p>تستحق في</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <button class="ragh" type="submit" href="/">دفعات</button>

        <div class="inline-div">
          <p>أمر شغل</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>

        <button class="ragh" type="submit" href="/">استرجاع</button>
        <br />
        <div class="inline-div">
          <p>كود العميل</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
            placeholder=" "
          />
        </div>

        <button type="submit" href="/">رصيد العميل</button>
        <button type="submit" href="/">اضافة بيانات عميل جديد</button>
        <button type="submit" href="/">عرض فواتير العميل السابقة</button>
        <br />
        <div class="inline-div">
          <p>مردود أمانة</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <button type="submit" href="/">استرجاع</button>

        <div class="inline-div">
          <p>الرقم الضريبي</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
          <label><input type="checkbox" name="name" /> %</label>
        </div>

        <br />
        <div class="inline-div">
          <p>المدينة</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>كودالمندوب</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>السائق</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>تصنيف ضريبي</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <br />
        <div class="inline-div">
          <p>رقم امر البيع</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            class="name"
            type="text"
            name="name"
            placeholder=" "
          />
        </div>
        <button type="submit" href="/">استرجاع</button>

        <div class="inline-div">
          <p>عرض اسعار</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <button type="submit" href="/">استرجاع العرض</button>

        <div class="inline-div">
          <p>مز تكلفة</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>استرجاع من</p>
          <select>
            <option value=""></option>
            <option value="">ف شراء</option>
            <option value="2">ف بيع</option>
            <option value="3">ف مؤقتة</option>
            <option value="4">طلب تأمين</option>
            <option value="5">استلام من الفرع</option>
            <option value="6">مردود بيع</option>
            <option value="7">حجز فعلي</option>
          </select>
        </div>
        <div class="inline-div">
          <input type="text" name="name" />
        </div>

        <button type="submit" href="/">استرجاع</button>

        <div class="inline-div">
          <p>فاتورة يدوية</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>عروض ترويجي</p>
          <input
            cols="15"
            rows="15"
            class="inline-txtarea"
            type="text"
            name="name"
          />
        </div>
        <div class="inline-div">
          <p>ملاحظات</p>
          <input type="text" name="name" />
          <input type="text" name="name" />
        </div>
        <button type="submit" href="/">سعر العميل</button>

        <div class="inline-div">
          <p>طلبات الشراء</p>
          <input type="text" name="name" />
        </div>

        <button type="submit" href="/">اختيار عدة اصناف</button>

        <br />
        <br />
        <br />
        <div>
          <table>
            <tr>
              <th>Ser</th>
              <th>Description</th>
              <th></th>
              <th>Unit</th>
              <th>Rate</th>
              <th>Expiry</th>
              <th>QTY</th>
              <th>Bon</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Amount</th>
              <th>VAT%</th>
            </tr>

            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
            <tr>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="number" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
              <td>
                <input class="mid" id="wednesday" type="text" name="name" />
              </td>
            </tr>
          </table>
        </div>
        <p class="question"></p>
        <div class="question-answer">
          <label
            >Total Weight <input id="wednesday" type="text" name="name"
          /></label>
        </div>
      </form>
    </div>
  </body>
</html>
