<h1 align="center">فئات الأصناف</h1>
<div class="testbox">
  <form action="/">
    <section>
      <nav>
        <ul>
          <div class="inline-div">
            <p>كود الفئة</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>مستوى الفئة</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <br />
          <div class="inline-div">
            <p>الاسم عربي</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>الاسم لاتيني</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>الفئة الرئيسية</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>% خصم مكتسب</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>% خصم مسموح به</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>نسبة ربح تقديري</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>تصنيف خاص</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <div class="inline-div">
            <p>مركز تكلفة رئيسي</p>
            <input
              cols="15"
              rows="15"
              class="inline-txtarea"
              type="text"
              name="name"
            />
          </div>
          <br />
          <br />

          <button class="ragh" type="submit" href="/">
            اختبار صحة تكويد الفئات
          </button>

          <br />
        </ul>
      </nav>
      <article>
        <textarea rows="10"></textarea>
        <br />
        <br />
        <button class="ragh" type="submit" href="/">تحديث الشجرة</button>
      </article>
    </section>
  </form>
</div>
