<body>
  <h1 align="center">مندوبي المبيعات</h1>

  <div class="testbox">
    <form action="/">
      <div class="item">
        <table>
          <div class="name-item">
            <tr>
              <th>
                <p>كود المندوب</p>
                <input type="text"  />
              </th>

              <th>
                <p>اسم المندوب عربي</p>

                <input type="text"  />
              </th>
              <th>
                <p>اسم المندوب انجليزي</p>
                <input type="text"  />
              </th>
            </tr>
            <tr>
              <th>
                <p>البريد الالكتروني</p>
                <input type="email"  />
              </th>

              <th>
                <p>رقم الجوال</p>
                <input type="name"  />
              </th>

              <th>
                <p>كود شؤون الموظفين</p>
                <input type="text"  />
              </th>
            </tr>
            <tr>
              <th>
                <p>الراتب الشهري</p>
                <input type="number"  />
              </th>

              <th>
                <p>أقصى نسبة خصم له</p>
                <input type="number"  />
              </th>
              <th>
                <p>يتبع الفرع المحاسبي</p>
                <input type="text"  />
              </th>
            </tr>
            <tr>
              <th>
                <p>رقم حساب المندوب</p>
                <input type="text"  />
              </th>

              <th>
                <p>مشرف المبيعات</p>
                <input type="text"  />
              </th>

              <th>
                <p>رقم التليفون</p>
                <input type="text"  />
              </th>
            </tr>

            <tr>
              <th>
                <p>مركز تكلفة رئيسي</p>
                <input type="Numbers"  />
              </th>

              <th>
                <p>يتبع فرع مخزني</p>
                <input type="text"  />
              </th>

              <th>
                <label
                  ><input type="checkbox"  />
                  <span>عامل </span></label
                >
              </th>
            </tr>
          </div>

          <div class="btn-block">
            <button type="submit" href="/">تنفيذ</button>
          </div>
        </table>
      </div>
    </form>
  </div>
</body>
